@import './commons/vars';
@import './commons/reset';

.App {
  background-color:$color-ligth;
  padding: 15px;
}



/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
