@import './commons/vars'; 

.DivHeader{
    height: 30vh;
    background-image: url(../images/LogoRickandMorty.png);
    background-repeat: no-repeat;
    background-position: center;  
    
}