@import './commons/vars'; 

.filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__label {
        color: $color-ligth;
    }
    &__input {
        width: 300px;
        margin-top: 20px;
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card {
    background-color: $color-ligth;
    margin: 20px;
}

.Alert{
    background-color: $color-ligth;
}
.modal{
        display: flex;
        justify-content: center;

        &__dialog {
            border: 1px solid red;
            background-color: $color-ligth;
            display: inline-block;
        }
        &__content{
        
    }
    &__title{
       
    }
    &__dialog {
        
    }
}

.episodeList {
    display: flex;
    flex-direction: column;
}