@import './commons/vars'; 

.filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__label {
        color: $color-ligth;
    }
    &__input {
        width: 300px;
        margin-top: 20px;
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card {
    background-color: $color-ligth;
    margin: 20px;
}

.Alert{
    background-color: $color-ligth;
}
.modal{
    border: 1px solid green;
    background-color: $color-ligth;
    color:violet;
    &__dialog {
        border: 1px solid red;
    }
    &__content{
        background-color: red;
    }
    &__title{
        background-color: red;
    }
    &__dialog {
        background-color: red;
    }
}