@import './commons/vars'; 
@import './commons/reset'; 

.filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__label {
        color: $color-ligth;
    }
    &__input {
        width: 300px;
        margin-top: 20px;
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card {
    background-color: $color-ligth;
    margin: 20px;
    &__content {
        text-align: center;
    }
    &__img2 {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

.Alert{
    text-align: center;
    text-transform: uppercase;
    color: $color-ligth;
    margin-top: 30px;
    border: 3px solid rgb(63, 207, 70) ;
}

.modal{
        display: flex;
        justify-content: center;
       
        &__content {
            border-radius: 10px;
            border: 3px solid rgb(63, 207, 70) ;
            background-color: rgb(40, 170, 187);
            display: inline-block;
            color: black;
            font-weight: bold;
        }
        
    }
    

.episodeList {
display: flex;
flex-direction: column;
}
.rtn {
    display: flex;
justify-content: center;
padding-bottom: 20px;
font-size: 20px;
    color: white;
    :hover {
        background-color: rgb(40, 170, 187);
        color:black;
        font-weight: bold;
        font-size: 25px;
        border-radius: 10px;
    }
}